%nav.navbar.navbar-default{ role: "navigation" }
  .container
    .navbar-header
      - if current_user && current_user.avatar.file?
        = image_tag current_user.avatar.url(:thumb)
      %a.navbar-brand{ href: "/" } ProfilesApp
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Users', '/users'
        - if !current_user
          %li.active
            = link_to 'Sign up', new_user_registration_path
          %li
            = link_to 'Log in', new_user_session_path
        - else
          %li
            = link_to 'Edit profile', edit_user_registration_path
          %li
            = link_to "Logout", destroy_user_session_path, method: :delete
