!!!
%html
  %head
    %title ProfilesApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'

    .container
      - if notice || alert
        .notice
          - flash.each do |key, value|
            .bg-info
              = value

      = yield
